.chord {
    display: flex;
    flex-direction: row;

    button {
        min-height: 2rem;
        font-size: 20px;
    }

    input[type=text] {
        width: 30px;
    }

    p {
        font-size: 20px;
    }

    .root,
    .base {
        display: flex;
        flex-direction: row;
    }
}
