.note {
    display: flex;
    flex-flow: row;

    p {
        font-size: 20px;
        margin: auto;
    }

    input[type=number] {
        width: 15px;
    }

    input[type=number]::-webkit-inner-spin-button {
        opacity: 1;
    }
}
