.stance {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .addVerse {
        margin-top: 0.5rem;
        width: fit-content;
    }
}
