.verse {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0.75rem;

    .addWord,
    .addSyllable {
        height: fit-content;
    }

    .addSyllable {
        margin-left: 0.75rem;
    }

    .word {
        display: flex;
        width: fit-content;
        align-items: flex-end;
    }
}
