{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "singleAttributePerLine": false,
    "bracketSameLine": false,
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "printWidth": 80,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "singleQuote": false,
    "tabWidth": 2,
    "trailingComma": "all",
    "useTabs": false,
    "embeddedLanguageFormatting": "auto",
    "vueIndentScriptAndStyle": false,
    "filepath": "/home/acmota2/repos/song-manager/frontend/src/song_text/transposer.ts",
    "parser": "typescript"
  }