@import url('https://fonts.cdnfonts.com/css/libre-franklin');

* {
    font-family: 'Libre Franklin', sans-serif;;
    font-size: 16px;
    margin: 0rem;
}

.App {
    .center {
        padding-left: 17rem;
        padding-right: 17rem;
        display: flex;
        flex-direction: row;
    }
}