// @import url('https://fonts.cdnfonts.com/css/libre-franklin');

* {
    font-family: 'Helvetica', sans-serif;
    ;
    font-size: 16px;
    margin: 0rem;
}

.App {
    width: 100%;

    .Navbar,
    .center {
        padding: 0 10rem;
    }

    .Navbar {
        padding-bottom: 0.75rem;
        padding-top: 0.75rem;
    }

    .center {
        display: flex;
        flex-direction: row;

        .body {
            width: 100%;
        }
    }
}
