.createSong {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    .newSongName {
        padding-top: 1rem;
        textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
            border-color: lightgrey;
            box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
            outline: 0 none;
        }
    }
    .tonality {
        //display: flex;
        padding-top: 1rem;
        padding-bottom: 1rem;
        flex-direction: row;
    }
    .anyList {
        padding-bottom: 1rem;
        padding-top: 0.5rem;
    }
}
