.Navbar {

    a:link,
    a:visited {
        text-decoration: none;
        color: black;
    }

    background: radial-gradient(circle, rgba(22, 106, 0, 1) 0%, rgba(38, 121, 9, 1) 38%, rgba(31, 173, 0, 1) 71%, rgba(26, 187, 0, 1) 100%);

    .links {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .homeButton {
            padding-right: 1rem;

            a {
                font-weight: bold;
                font-size: 30px;
            }
        }

        .songWizard {
            a {
                color: black;
            }
        }
    }
}
