ul {
    padding: 0;
    margin: 0;
    clear: both;
    padding-top: 1rem;
}

li {
    list-style-type: none;
    list-style-position: outside;
    float: left;

    input:not(:checked), input:checked {
        position: absolute;
        left: -9999%;
    }

    input + label {
        font-size: 14px;
        display: inline-block;
        border-radius: 1rem;
        padding: 0.4rem;
        cursor: pointer;
        border: 1px solid orange;
        color: black;
        background-color: white;
        margin-right: 0.5rem;
        margin-bottom: 10px;
    }

    input:checked + label {
        border: 1px solid white;
        background-color: orange;
        color: white;
    }
}


