$hovering: #F0DEBB;

.Sidebar {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    font-size: 30px;
    font-weight: bold;
    a:link {
        text-decoration: none;
        color: black;
    }
    a:visited {
        text-decoration: none;
        color: black;
    }
    div {
        padding: 1rem;
        height: 1.5rem;
        width: 8rem;
    }
    div:hover {
        transition: 100ms;
        background-color: $hovering;
    }
}
