$hovering: #F0DEBB;

.Sidebar {
    display: flex;
    flex-direction: column;
    a:link {
        text-decoration: none;
        color: black;
    }
    a:visited {
        text-decoration: none;
        color: black;
    }
    .organization-tile {
        padding: 1rem;
        font-size: 14px;
        font-weight: bold;
        height: 1.5rem;
        width: 8rem;
    }
    .organization-tile:hover {
        transition: 100ms;
        background-color: $hovering;
    }
}
