.SongList {
    display: flex;
    flex-direction: column;
    padding: none;
    width: 100%;



    .songEntry:hover {
        width: 100%;
        transition: 200ms;
        border-radius: 0.1rem;
        border-width: 0.1rem;
        border-style: outset;
        border-color: grey;
        border-radius: 0.25rem;
    }

    .songEntry {
        width: 100%;
        border-width: 0.1rem;
        border-bottom: 0.1rem;
        border-style: solid;
        border-color: white;
        display: flex;

        .songLink {
            h2 {
                font-weight: 600;
            }

            p {
                font-weight: 300;
                color: grey;
            }

            padding: 0.75rem;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            text-decoration: none;
            color: black;
        }
    }
}
