.intervalDetails {
    display: flex;
    flex-direction: row;
}

.showSong {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;

    .placeHolder,
    .stanceChangerBottom,
    .stanceChangerTop {
        width: 100%;
        height: 35px;
    }

    .placeHolder,
    .stanceChangerTop {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .stanceChangerBottom,
    .stanceChangerTop {
        font-weight: bold;
        border-style: solid;
        border-image-slice: 1;
        border-radius: 0.25rem;
    }

    .stanceChangerTop {
        border-top-color: #222222;
        border-image-source: linear-gradient(to top, #555555, white, white);
        border-left-color: linear-gradient(#222222, #dddddd);
    }

    .stanceChangerBottom {
        margin-bottom: 1rem;
        margin-top: 2rem;
        border-bottom-color: #222222;
        border-image-source: linear-gradient(to bottom, #555555, white, white);
        border-left-color: linear-gradient(#222222, #dddddd);
    }
}
