.SongList {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: none;
    .songEntry:hover {
        transition: 200ms;
        border-radius: 0.1rem;
        border-width: 0.1rem;
        border-style: outset;
        border-color: grey;
    }
    .songEntry {
        padding: 0.5rem;
        border-width: 0.1rem;
        border-bottom: 0.1rem;
        border-style: solid;
        border-color: white;
        display: flex;
        flex-direction: row;
        .songLink {
            h2 {
                font-weight: 600;
            }
            p {
                font-weight: 300;
                color: grey;
            }
            display: flex;
            flex-direction: column;
            text-decoration: none;
            inline-size: 20rem;
            color: black;
        }
    }
}