.tileList {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    gap: 1rem;
    .linkList {
        display: flex;
        height: 7rem;
        width: 14rem;
        justify-content: center;
        align-items: center;
        // padding: 5rem;
        border-width: 0.1rem;
        border-style: solid;
        border-color: lightgrey;
        border-radius: 0.25rem;
        text-decoration: none;
        color: black;
    }
    .linkList:hover {
        transition: 500ms;
        border-color: black;
        border-width: 0.1em;
        border-style: solid;
    }
}