.titlePage {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    h1 {
        text-decoration: none;
        font-size: 30px;
        border-style: solid;
        border-color: white;
        border-bottom-color: lightgrey;
        padding-bottom: 15px;
        border-bottom-width: 1px;
    }
}
