.adder {
    display: flex;
    flex-direction: row;
}

.hide {
    width: 0;
    font: 16px bold;
    position: relative;
    z-index: -1;
    color: white;
    left: -30px;
    transition: 2s;
    align-items: center;
}

.buttons:hover>.hide {
    width: 5rem;
    max-width: fit-content;
    display: flex;
    font: 16px bold;
    color: black;
    left: 0;
    transition: display 0.5s 0.1s, left 0.5s 0.1s, color 0.5s 0.1s, width 0.5s;
    gap: 0.5rem;
}

.buttons {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
}
